In [90]:
import pandas as pd

In [91]:
failed_results = pd.read_csv('../Temp Sheets/Failed Results.csv')

failed_features = pd.read_csv('../Temp Sheets/Failed Features.csv')

failed_not_features = pd.read_csv('../Temp Sheets/Failed Not Features.csv')

scrobble_features = pd.read_csv('../Temp Sheets/Scrobbles Features.csv')

merged = pd.read_csv('../Temp Sheets/Union of Scrobbles and Features.csv')

idx_pairs = pd.read_csv('Spreadsheets/RecordLinkage Final Merge Alternate.csv')

In [92]:
idx_pairs

,features_idx,not_features_idx,tracks,artists,Score,artist_track,writer_song
0,17,848,1.0,1.0,2.0,Pokémon_Pokémon Theme,Pokémon_Pokemon Theme
1,17,849,1.0,1.0,2.0,Pokémon_Pokémon Theme,Pokémon_Pokemon Theme
2,17,850,1.0,1.0,2.0,Pokémon_Pokémon Theme,Pokémon_Pokemon Theme
3,17,851,1.0,1.0,2.0,Pokémon_Pokémon Theme,Pokémon_Pokemon Theme
4,17,852,1.0,1.0,2.0,Pokémon_Pokémon Theme,Pokémon_Pokemon Theme
...,...,...,...,...,...,...,...
34540,1045,9460,0.0,1.0,1.0,Various Artists_Überflieger,Various Artists_Pokémon
34541,1046,9460,0.0,1.0,1.0,Various Artists_Slumber Party,Various Artists_Pokémon
34542,1047,9460,0.0,1.0,1.0,Various Artists_Ragtime Cat (feat. Lilja Bloom),Various Artists_Pokémon
34543,1048,16204,0.0,1.0,1.0,Yoe Mase_Nothing More (deaf Kev Remix),Yoe Mase_Nothing More
34544,1049,9460,0.0,1.0,1.0,Various Artists_Mess,Various Artists_Pokémon

In [93]:
failed_features.iloc[idx_pairs.iloc[idx_pairs.index[0]]['features_idx']]['track']

'Pokémon Theme'

In [95]:
exact = idx_pairs[idx_pairs['Score'] == 2]
exact

,features_idx,not_features_idx,tracks,artists,Score,artist_track,writer_song
0,17,848,1.0,1.0,2.0,Pokémon_Pokémon Theme,Pokémon_Pokemon Theme
1,17,849,1.0,1.0,2.0,Pokémon_Pokémon Theme,Pokémon_Pokemon Theme
2,17,850,1.0,1.0,2.0,Pokémon_Pokémon Theme,Pokémon_Pokemon Theme
3,17,851,1.0,1.0,2.0,Pokémon_Pokémon Theme,Pokémon_Pokemon Theme
4,17,852,1.0,1.0,2.0,Pokémon_Pokémon Theme,Pokémon_Pokemon Theme
...,...,...,...,...,...,...,...
316,1034,15718,1.0,1.0,2.0,Flume_Say It (feat. Tove Lo) [illenium Remix],Flume_Say It (feat. Tove Lo) (illenium Remix)
317,1034,15719,1.0,1.0,2.0,Flume_Say It (feat. Tove Lo) [illenium Remix],Flume_Say It (feat. Tove Lo) (illenium Remix)
318,1038,15763,1.0,1.0,2.0,Bright Lights_Runaway (feat. 3lau) - Xan Griff...,Bright Lights_Runaway (feat. 3lau) (xan Griffi...
319,1041,16003,1.0,1.0,2.0,Benjamin Francis Leftwich_Atlas Hands - Thomas...,Benjamin Francis Leftwich_Atlas Hands (thomas ...
320,1042,16151,1.0,1.0,2.0,Muse_Assassin - Grand Omega Bosses Edit,Muse_Assassin (grand Omega Bosses Edit)

In [103]:
# features_idx = exact['features_idx'].to_list()
# not_features_idx = exact['not_features_idx'].to_list()

In [ ]:
# rowIndex = df.index[someRowNumber]
# df.loc[rowIndex, 'New Column Title'] = "some value"

# df.loc[df.index[someRowNumber], 'New Column Title'] = "some value"

In [105]:
for i in range(len(exact)):
    failed_not_features.loc[failed_not_features.index[not_features_idx[i]], 'track_f'] = failed_features.iloc[idx_pairs.iloc[idx_pairs.index[i]]['features_idx']]['track']

# Score = 1 and Tracks = 1 but Artists = 0

In [192]:
idx_tracks = idx_pairs[(idx_pairs['Score'] >= 1) & (idx_pairs['tracks'] == 1)]
idx_tracks

,features_idx,not_features_idx,tracks,artists,Score,artist_track,writer_song
0,17,848,1.0,1.0,2.0,Pokémon_Pokémon Theme,Pokémon_Pokemon Theme
1,17,849,1.0,1.0,2.0,Pokémon_Pokémon Theme,Pokémon_Pokemon Theme
2,17,850,1.0,1.0,2.0,Pokémon_Pokémon Theme,Pokémon_Pokemon Theme
3,17,851,1.0,1.0,2.0,Pokémon_Pokémon Theme,Pokémon_Pokemon Theme
4,17,852,1.0,1.0,2.0,Pokémon_Pokémon Theme,Pokémon_Pokemon Theme
...,...,...,...,...,...,...,...
3235,1045,16159,1.0,0.0,1.0,Various Artists_Überflieger,Dinka_Überflieger
3236,1046,16173,1.0,0.0,1.0,Various Artists_Slumber Party,Hellberg_Slumber Party
3237,1046,16174,1.0,0.0,1.0,Various Artists_Slumber Party,Hellberg_Slumber Party
3238,1047,16176,1.0,0.0,1.0,Various Artists_Ragtime Cat (feat. Lilja Bloom),Parov Stelar_Ragtime Cat Feat. Lilja Bloom
3239,1049,16207,1.0,0.0,1.0,Various Artists_Mess,"I Will, I Swear_Mess"

In [193]:
features_idx = idx_tracks['features_idx'].to_list()
not_features_idx = idx_tracks['not_features_idx'].to_list()

In [43]:
# rowIndex = df.index[someRowNumber]
# df.loc[rowIndex, 'New Column Title'] = "some value"

# df.loc[df.index[someRowNumber], 'New Column Title'] = "some value"

In [196]:
for i in range(len(features_idx)):
    failed_not_features.loc[failed_not_features.index[not_features_idx[i]], 'track_f'] = failed_features.iloc[features_idx[i]]['track']

In [197]:
failed_not_features[failed_not_features['track_f'].notnull()]

,artist,track,datetime,track_f
0,Declan Mckenna,In Blue,2020-08-25 11:10:56,In Blue
1,Declan Mckenna,In Blue,2020-08-07 22:31:03,In Blue
2,Declan Mckenna,In Blue,2020-03-27 23:02:03,In Blue
176,Mai Yamane,See You Space Cowboys Not Final Mountain Root,2020-08-18 22:42:46,See You Space Cowboys Not Final Mountain Root
177,Mai Yamane,See You Space Cowboys Not Final Mountain Root,2020-07-26 18:09:31,See You Space Cowboys Not Final Mountain Root
...,...,...,...,...
16159,Dinka,Überflieger,2016-10-11 21:03:01,Überflieger
16173,Hellberg,Slumber Party,2016-10-10 16:40:23,Slumber Party
16174,Hellberg,Slumber Party,2016-10-10 16:33:17,Slumber Party
16176,Parov Stelar,Ragtime Cat Feat. Lilja Bloom,2016-10-10 11:01:43,Ragtime Cat (feat. Lilja Bloom)
16207,"I Will, I Swear",Mess,2016-10-09 08:18:11,Mess

In [198]:
exactplustracks = failed_not_features[failed_not_features['track_f'].notnull()]
exactplustracks.to_csv('exactplustracks.csv', index=False)

In [199]:
merged_features = pd.merge(exactplustracks, failed_features, left_on='track_f', right_on='track')
merged_features = merged_features.drop(['track_y', 'datetime'], axis=1)

In [200]:
failed_test = pd.merge(failed_not_features, merged_features, left_on='track', right_on='track_x')
failed_test = failed_test.drop_duplicates()

In [204]:
def getDuplicateColumns(df):
    '''
    Get a list of duplicate columns.
    It will iterate over all the columns in dataframe and find the columns whose contents are duplicate.
    :param df: Dataframe object
    :return: List of columns whose contents are duplicates.
    '''
    duplicateColumnNames = set()
    # Iterate over all the columns in dataframe
    for x in range(df.shape[1]):
        # Select column at xth index.
        col = df.iloc[:, x]
        # Iterate over all the columns in DataFrame from (x+1)th index till end
        for y in range(x + 1, df.shape[1]):
            # Select column at yth index.
            otherCol = df.iloc[:, y]
            # Check if two columns at x 7 y index are equal
            if col.equals(otherCol):
                duplicateColumnNames.add(df.columns.values[y])
    return list(duplicateColumnNames)

In [205]:
duplicateColumnNames = getDuplicateColumns(failed_test)
print('Duplicate Columns are as follows')
for col in duplicateColumnNames:
    print('Column name : ', col)

Duplicate Columns are as follows
Column name :  track_x
Column name :  track_f_y

In [206]:
failed_test = failed_test.drop(columns=getDuplicateColumns(failed_test))

In [228]:
failed_test.to_csv('Final Merge (Needs Cleaning).csv', index=False)