In [87]:
import string_grouper
import pandas as pd

In [88]:
failed =  pd.read_csv('/home/sid/development/python/music-analysis/Temp Sheets/Failed Results (Union minus Merged).csv')
failed = failed.drop_duplicates()

failed_features = pd.read_csv('/home/sid/development/python/music-analysis/spotify/Spreadsheets/Failed Features.csv')

failed_not_features = pd.read_csv('/home/sid/development/python/music-analysis/spotify/Spreadsheets/Failed Scrobbles without Features.csv')

scrobble_features = pd.read_csv('/home/sid/development/python/music-analysis/Temp Sheets/scrobbles_features.csv')

In [89]:
failed_not_features = failed_not_features[['artist', 'track', 'datetime']]
failed_features = failed_features.drop('datetime', axis=1)

In [90]:
matches = string_grouper.match_strings(failed_not_features['track'], scrobble_features['track'])
matches = matches.rename(columns={'left_side': 'not_features', 'right_side': 'features'})
matches

               not_features       features  similarity
0                   In Blue        In Blue    1.000000
1                   In Blue        In Blue    1.000000
2                   In Blue        In Blue    1.000000
3                 Hollywood      Hollywood    1.000000
4                 Hollywood      Hollywood    1.000000
...                     ...            ...         ...
10113          Nothing More   Nothing More    1.000000
10114                 Armor          Armor    1.000000
10115                  Mess           Mess    1.000000
10116  Eden - Say Something  Say Something    0.803212
10117  Eden - Say Something  Say Something    0.803212

[10118 rows x 3 columns]

In [91]:
# matches = match_strings(dfREFERENCE[dfREFERENCE_KeyColumn], dfSUBJECT[dfSUBJECT_KeyColumn])
# df = dfSUBJECT.merge(matches, left_on=dfREFERENCE_KeyColumn, right_on='left_side') # defaults to left join - not sure if that is what you want
# df = df.merge(matches, left_on='right_side', right_on='dfSUBJECT_KeyColumn')

In [92]:
matches_alt = string_grouper.match_strings(scrobble_features['track'], failed_not_features['track'])
matches_alt = matches_alt.rename(columns={'left_side': 'features', 'right_side': 'not_features'})
matches_alt

              features   not_features  similarity
0              In Blue        In Blue    1.000000
1              In Blue        In Blue    1.000000
2              In Blue        In Blue    1.000000
3               Wonder      Wondering    0.843782
4               Wonder      Wondering    0.843782
...                ...            ...         ...
7532     Awake, Asleep  Awake, Asleep    1.000000
7533     Awake, Asleep  Awake, Asleep    1.000000
7534     Awake, Asleep  Awake, Asleep    1.000000
7535  Better Than This    Better Than    0.841764
7536              Mess           Mess    1.000000

[7537 rows x 3 columns]

In [93]:
merge1 = pd.merge(scrobble_features, matches_alt, left_on='track', right_on='features')
merge2 = pd.merge(failed_not_features, merge1, left_on='track', right_on='not_features')

In [94]:
merge2 = merge2.drop_duplicates()
merge2.sort_values(by='similarity').to_csv('String Grouper Final Merge.csv', index=False)

In [95]:
merge2

,artist_x,track_x,datetime,track_y,album,artist_y,release_date,genres,length,popularity,...,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,features,not_features,similarity
0,Declan Mckenna,In Blue,2020-08-25 11:10:56,In Blue,MOOMINVALLEY (Official Soundtrack),Various Artists,2019-04-19,[],294021,53,...,0.0243,0.1680,0.003060,0.2020,0.2760,96.979,4,In Blue,In Blue,1.000000
3,Declan Mckenna,In Blue,2020-08-07 22:31:03,In Blue,MOOMINVALLEY (Official Soundtrack),Various Artists,2019-04-19,[],294021,53,...,0.0243,0.1680,0.003060,0.2020,0.2760,96.979,4,In Blue,In Blue,1.000000
6,Declan Mckenna,In Blue,2020-03-27 23:02:03,In Blue,MOOMINVALLEY (Official Soundtrack),Various Artists,2019-04-19,[],294021,53,...,0.0243,0.1680,0.003060,0.2020,0.2760,96.979,4,In Blue,In Blue,1.000000
9,검정치마,Hollywood,2020-08-19 21:40:32,Hollywood,Big Mess,Grouplove,2017-08-17,"['indie pop', 'indie rock', 'la indie', 'moder...",250666,40,...,0.0320,0.2890,0.000000,0.0866,0.3360,144.697,4,Hollywood,Hollywood,1.000000
29,검정치마,Hollywood,2020-08-11 23:49:10,Hollywood,Big Mess,Grouplove,2017-08-17,"['indie pop', 'indie rock', 'la indie', 'moder...",250666,40,...,0.0320,0.2890,0.000000,0.0866,0.3360,144.697,4,Hollywood,Hollywood,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377594,Yoe Mase,Nothing More,2016-10-09 13:52:23,Nothing More,Nothing More,Guards,2014-12-02,[],229870,31,...,0.0352,0.0268,0.000341,0.0964,0.8450,90.975,4,Nothing More,Nothing More,1.000000
377595,"Illuminine Featuring I Will, I Swear",Armor,2016-10-09 08:39:01,Armor,Armor / Against The Gods,Illuminine,2015-04-18,"['compositional ambient', 'neo-classical']",287590,26,...,0.0296,0.9640,0.107000,0.1190,0.0413,101.074,4,Armor,Armor,1.000000
377596,"I Will, I Swear",Mess,2016-10-09 08:18:11,Mess,Music For Undays,Various Artists,2014-02-24,[],188895,15,...,0.0356,0.7380,0.000521,0.1120,0.1410,128.098,4,Mess,Mess,1.000000
377597,Ozymandiias,Eden - Say Something,2016-10-09 05:46:25,Say Something,Is There Anybody Out There?,A Great Big World,2014-01-20,"['indiecoustica', 'neo mellow', 'piano rock', ...",229400,77,...,0.0355,0.8570,0.000003,0.0913,0.0765,141.284,3,Say Something,Eden - Say Something,0.803212
377599,Ozymandiias,Eden - Say Something,2016-10-08 20:12:38,Say Something,Is There Anybody Out There?,A Great Big World,2014-01-20,"['indiecoustica', 'neo mellow', 'piano rock', ...",229400,77,...,0.0355,0.8570,0.000003,0.0913,0.0765,141.284,3,Say Something,Eden - Say Something,0.803212

In [96]:
# matches.sort_values(by='similarity', ascending=False).to_csv('Grouper.csv', index=False)

In [97]:
# matches_alt.sort_values(by='similarity', ascending=False).to_csv('Grouper alt.csv', index=False)

In [98]:
# df = dfSUBJECT.merge(matches, left_on=dfREFERENCE_KeyColumn, right_on='left_side') # defaults to left join - not sure if that is what you want
# df = df.merge(matches, left_on='right_side', right_on='dfSUBJECT_KeyColumn')

# SAME BUT WITH FAILED FEATURES

In [104]:
matches = string_grouper.match_strings(failed_not_features['track'], failed_features['track'])
matches = matches.rename(columns={'left_side': 'not_features', 'right_side': 'features'})
matches

,not_features,features,similarity
0,In Blue,In Blue,1.000000
1,In Blue,In Blue,1.000000
2,In Blue,In Blue,1.000000
3,See You Space Cowboys Not Final Mountain Root,See You Space Cowboys Not Final Mountain Root,1.000000
4,See You Space Cowboys Not Final Mountain Root,See You Space Cowboys Not Final Mountain Root,1.000000
...,...,...,...
3138,Überflieger,Überflieger,1.000000
3139,Slumber Party,Slumber Party,1.000000
3140,Slumber Party,Slumber Party,1.000000
3141,Ragtime Cat Feat. Lilja Bloom,Ragtime Cat (feat. Lilja Bloom),0.845492
3142,Mess,Mess,1.000000

In [105]:
matches_alt = string_grouper.match_strings(failed_features['track'], failed_not_features['track'])
matches_alt = matches_alt.rename(columns={'left_side': 'features', 'right_side': 'not_features'})
matches_alt

,features,not_features,similarity
0,In Blue,In Blue,1.000000
1,In Blue,In Blue,1.000000
2,In Blue,In Blue,1.000000
3,See You Space Cowboys Not Final Mountain Root,See You Space Cowboys Not Final Mountain Root,1.000000
4,See You Space Cowboys Not Final Mountain Root,See You Space Cowboys Not Final Mountain Root,1.000000
...,...,...,...
2515,Überflieger,Überflieger,1.000000
2516,Slumber Party,Slumber Party,1.000000
2517,Slumber Party,Slumber Party,1.000000
2518,Ragtime Cat (feat. Lilja Bloom),Ragtime Cat Feat. Lilja Bloom,0.845492
2519,Mess,Mess,1.000000

In [106]:
merge3 = pd.merge(failed_features, matches_alt, left_on='track', right_on='features')
merge4 = pd.merge(failed_not_features, merge1, left_on='track', right_on='not_features')

In [109]:
merge4 = merge4.drop_duplicates()
merge4.sort_values(by='similarity').to_csv('String Grouper Merge (Failed Features).csv', index=False)

In [108]:
merge4

,artist_x,track_x,datetime,track_y,album,artist_y,release_date,genres,length,popularity,...,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,features,not_features,similarity
0,Declan Mckenna,In Blue,2020-08-25 11:10:56,In Blue,MOOMINVALLEY (Official Soundtrack),Various Artists,2019-04-19,[],294021,53,...,0.0243,0.1680,0.003060,0.2020,0.2760,96.979,4,In Blue,In Blue,1.000000
3,Declan Mckenna,In Blue,2020-08-07 22:31:03,In Blue,MOOMINVALLEY (Official Soundtrack),Various Artists,2019-04-19,[],294021,53,...,0.0243,0.1680,0.003060,0.2020,0.2760,96.979,4,In Blue,In Blue,1.000000
6,Declan Mckenna,In Blue,2020-03-27 23:02:03,In Blue,MOOMINVALLEY (Official Soundtrack),Various Artists,2019-04-19,[],294021,53,...,0.0243,0.1680,0.003060,0.2020,0.2760,96.979,4,In Blue,In Blue,1.000000
9,검정치마,Hollywood,2020-08-19 21:40:32,Hollywood,Big Mess,Grouplove,2017-08-17,"['indie pop', 'indie rock', 'la indie', 'moder...",250666,40,...,0.0320,0.2890,0.000000,0.0866,0.3360,144.697,4,Hollywood,Hollywood,1.000000
29,검정치마,Hollywood,2020-08-11 23:49:10,Hollywood,Big Mess,Grouplove,2017-08-17,"['indie pop', 'indie rock', 'la indie', 'moder...",250666,40,...,0.0320,0.2890,0.000000,0.0866,0.3360,144.697,4,Hollywood,Hollywood,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377594,Yoe Mase,Nothing More,2016-10-09 13:52:23,Nothing More,Nothing More,Guards,2014-12-02,[],229870,31,...,0.0352,0.0268,0.000341,0.0964,0.8450,90.975,4,Nothing More,Nothing More,1.000000
377595,"Illuminine Featuring I Will, I Swear",Armor,2016-10-09 08:39:01,Armor,Armor / Against The Gods,Illuminine,2015-04-18,"['compositional ambient', 'neo-classical']",287590,26,...,0.0296,0.9640,0.107000,0.1190,0.0413,101.074,4,Armor,Armor,1.000000
377596,"I Will, I Swear",Mess,2016-10-09 08:18:11,Mess,Music For Undays,Various Artists,2014-02-24,[],188895,15,...,0.0356,0.7380,0.000521,0.1120,0.1410,128.098,4,Mess,Mess,1.000000
377597,Ozymandiias,Eden - Say Something,2016-10-09 05:46:25,Say Something,Is There Anybody Out There?,A Great Big World,2014-01-20,"['indiecoustica', 'neo mellow', 'piano rock', ...",229400,77,...,0.0355,0.8570,0.000003,0.0913,0.0765,141.284,3,Say Something,Eden - Say Something,0.803212
377599,Ozymandiias,Eden - Say Something,2016-10-08 20:12:38,Say Something,Is There Anybody Out There?,A Great Big World,2014-01-20,"['indiecoustica', 'neo mellow', 'piano rock', ...",229400,77,...,0.0355,0.8570,0.000003,0.0913,0.0765,141.284,3,Say Something,Eden - Say Something,0.803212